terraform {
  backend "s3" {
    bucket       = "{{ bucket }}"
    key          = "{{ key }}"
    region       = "{{ region }}"
    encrypt      = {{ encrypt }}
    profile      = "{{ profile }}"
    use_lockfile = true
  }
}
